.orange-bg{
    background-color: rgb(0, 234, 255);
    margin-bottom: 50px;
}
.carousel-item{
    padding: 20px 40px;
}
.Price{
    color: black;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #f10784 0%, black 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.container{
    margin-bottom: 100px;
}
p{
    text-align: center;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px;
}
.container h1{
    text-align: center;
    
}